.highscores {
  top: 8px;
  left: 8px;
  position: absolute;
}

.cd-timer {
  top: 8px;
  right: 8px;
  position: absolute;
  margin-right: 45px;
}

.quiz-wrapper {
  margin: 80px auto 0 auto;
  max-width: 650px;
}

.startdiv {
  text-align: center;
}

button {
  cursor: pointer;
  background-color: blueviolet;
  display: inline-block;
}