:root {
  background-color: #eee2dc;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eee2dc;
  color: #ac3b61;

}

/* .highscores {
  top: 8px;
  left: 8px;
  position: absolute;
} */

.countdown {
  top: 8px;
  right: 8px;
  position: absolute;
  margin-right: 45px;
  color: #123c69;
  font-size: 30px;
}


.question-container {
  margin: 80px auto 0 auto;
  max-width: 650px;
}

.startdiv {
  text-align: center;
  background-color: #bab2b5;
  border: #edc7b7 solid 10px;
}



#submit {
  display: inline;
  justify-content: flex-start;
  text-align: center;
  margin-top: 20px;
  border: #bab2b5 solid 5px;
  display: none;
}

.question-container {
  display: none;
  text-align: center;
  border: 5px solid blue;
}

.start-btn {
  background-color: #123c69;
  display: inline-block;
  color: aliceblue;
  border: 5px solid aliceblue;
  text-align: center;
  align-content: space-between;

}

.next-btn {
  display: none;
  background-color: #123c69;
  color: aliceblue;
  border: 5px solid aliceblue;
  text-align: center;
  align-content: space-between;

}

#hs-container {
  text-align: center;
  background-color: #bab2b5;
  border: #edc7b7 solid 10px;
  height: 500px;
  margin-top: 200px;
  color: #ac3b61;
  font-size: 30px;
  text-align: center;

}

#btn {
  background-color: #123c69;
  display: inline-block;
  color: aliceblue;
  text-align: center;
  align-content: space-between;
  height: 55px;
  width: 80px;
  font-size: 20px;
}

#username {
  display: inline-block;
  color: aliceblue;
  text-align: center;
  align-content: space-between;
  height: 55px;
  width: 300px;
  font-size: 20px;
}

/* .end-hs-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */

/* #end {
  margin: 80px auto 0 auto;
  max-width: 650px;
} */

/* input {} */